# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
.env*
.pytest_cache/

# Poetry
# poetry.lock（除外しない）

# Node.js
node_modules/
dist/
.next/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
# .vscode/（除外しない）
# *.code-workspace（除外しない）

# OS
.DS_Store
Thumbs.db

# Storybook
storybook-static/

# SAM/CloudFormation
.aws-sam/

# その他
*.swp
*.swo 
*storybook.log
 